body {
    background-image: url(https://images2.alphacoders.com/778/thumb-1920-77840.jpg);
}
h1 {
    font-size: 7em;
    color: #32CD32;
    text-align: center;
    font-family: monospace;
    display: block;
    margin-top: 15%;
}

h3 {
    font-size: 3em;
    color: #32CD32;
    text-align: center;
    font-family: monospace;
    margin: auto;
}


h6 {
    font-size: 2em;
    color: #32CD32;
    text-align: center;
    font-family: monospace;
    margin-top: 25%;
}
body {
    background-color: #000000;
}